<!DOCTYPE html>
<html data-ng-app="SampleApp">
<head>
  <title>RailsAngularSample</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-ng-view></div>


</body>
</html>
